Makefile.in
/TODO
/aclocal.m4
/config.guess
/config.h.in
/config.log
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
*.o
*.a
*.so
*.la
*.tar*
.deps
*~
Makefile
!test/Makefile
!doc/Makefile
include/adept_source.h
