Makefile.in
/aclocal.m4
/config.guess
/config.h.in
/config.log
/config.sub
/config.status
/configure
/depcomp
/install-sh
/ltmain.sh
/missing
/ar-lib
/autom4te.cache
/compile
/libtool
/stamp-*
*.o
*.a
*.so
*.la
*.tar*
doc/adept_*.log
doc/adept_*.toc
doc/adept_*.aux
doc/adept_*.out
.deps
*~
Makefile
!test/Makefile
!doc/Makefile
include/adept_source.h
